* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: relative;
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    height: 550px;
    margin: 0 auto;
}

.navbar {
    padding-top: 10px;
    height: 100px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.button a {
    background-color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    line-height: 50px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}

.txt-jb h2 {
    font-size: 35px;
    font-weight: 800;
}

.txt-jb p {
    font-weight: bold;
    padding: 20px 0;
}








/* ---------------------------*/

.logo, .sign-in {
    width: 10%;
    height: 50px;
}

.navigation-options {
    width: 80%;
    height: 50px;
}

.logo img {
    width: 100%;
    padding: 10px 5px;
}

.navigation-options ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.navigation-options ul {
    text-align: center;
    line-height: 50px;
}

.navigation-options li a {
    text-decoration: none;
    color: white;
}

.button a {
    background-color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    line-height: 50px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}

.sign-in .button {
    text-align: right;
    padding-right: 5px;
}

/* end navbar ----------------------------- */

.jumbotron1 {
    position: absolute;
    width: 600px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron1 h1 {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    padding: 30px;
}

.jumbotron1 p {
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
}

.download-mac a {
    font-size: 20px;
}

.open-browser a {
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.button-jumbotron1 {
    text-align: center;
}

/* end jumbotron1 ---------------------------- */

.img-jumbotron2 {
    width: 70%;
}

.text-jumbotron2 {
    width: 30%;
    padding: 30px 0;
}

.jumbotron2 {
    padding:40px 0;
}

/* end jumbotron2 -------------------------------- */ 

.text-jumbotron3 {
    width:45%;
    padding: 30px 0;
}

.img-jumbotron3 img {
    width: 55%;
}

.jumbotron3 {
    margin-bottom: 200px;
}

/* end jumbotron3 ---------------------------------- */


.calltoaction {
    width: 650px;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-size: cover;
    text-align: center;
    font-weight: bold;
    padding: 20px 40px;
}

.button-calltoaction {
    text-align: center;
    margin-bottom: 100px;
}

.button-calltoaction a {
    background-color: #89a2e6;
}





